/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-28, 12:54:45
    Author     : Tomasz Jacek
*/
@font-face {
  font-family: Neris Light;
  src: url("../fonts/Neris-Light.otf"); }
@font-face {
  font-family: Neris Semibold;
  src: url("../fonts/Neris-SemiBold.otf"); }
body {
  font-family: 'Neris Light', sans-serif;
  margin: 0;
  padding: 0; }

ul.unstyled {
  margin: 0;
  list-style: none;
  padding: 0; }

.text-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-right {
  text-align: right; }

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }
ul.inline li {
  display: inline-block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.container {
  position: relative;
  z-index: 1001;
  margin: 0 auto;
  width: 1200px; }

#header {
  line-height: 200px;
  height: 220px; }
  #header .brand {
    padding-left: 35px; }
    #header .brand h1 {
      color: #000;
      float: left;
      margin: 60px 0 0 40px;
      font-family: 'Neris Semibold';
      font-size: 26px;
      line-height: normal; }
      #header .brand h1 span {
        font-family: 'Neris Light'; }
    #header .brand a {
      display: block;
      text-decoration: none; }
    #header .brand img {
      float: left;
      margin-top: 50px; }
  #header .upper-nav {
    padding-right: 20px; }
    #header .upper-nav ul li {
      font-family: 'Neris Semibold', sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-left: 30px; }
      #header .upper-nav ul li a {
        color: #000;
        display: block;
        text-decoration: none; }

#content {
  position: relative;
  z-index: 1003;
  font-size: 13px;
  margin-bottom: 115px;
  padding-top: 25px;
  position: relative;
  padding: 25px 0 60px; }
  #content .grey-bg {
    position: absolute;
    z-index: 999;
    background-color: #f7f7f7;
    content: "";
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 800px; }
  #content .narrow-col, #content .wide-col {
    display: block;
    float: left;
    height: 100%; }
  #content .narrow-col {
    width: 300px; }
  #content .wide-col {
    width: 68%; }
  #content .half-col {
    padding: 0px;
    width: calc(53% - 61px);
    padding-left: 24px;
    float: left; }
    #content .half-col:nth-child(2n) {
      float: right; }
    #content .half-col img {
      width: 100%; }
  #content a {
    color: #000;
    display: block;
    font-family: 'Neris Semibold';
    font-size: 17px;
    text-align: center; }
  #content a.file {
    color: black;
    position: relative;
    text-decoration: none;
    text-align: left;
    margin: 17px 0px;
    padding: 0px 50px;
    font-size: 13px;
    float: left;
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 39px; }
    #content a.file.right {
      margin: 3px 0;
      width: 140px;
      text-align: right;
      justify-content: flex-end; }
      #content a.file.right:before {
        right: 0;
        left: auto; }
    #content a.file:hover {
      text-decoration: underline; }
    #content a.file:before {
      content: "";
      position: absolute;
      width: 39px;
      height: 39px;
      top: 0;
      left: 0;
      background: url("../images/file.jpg") no-repeat; }
  #content h3 {
    font-size: 20px;
    color: #007ffe;
    margin: 16px 0 20px;
    line-height: 1.2em; }
  #content h4 {
    font-size: 17px;
    margin: 16px 0 20px; }
  #content h5 {
    text-align: start;
    font-size: 18px;
    padding: 5px 47px;
    margin-bottom: 13px; }
  #content .cboxElement {
    float: left;
    border: 1px solid transparent; }
    #content .cboxElement:hover {
      border: 1px solid #007ffe; }
  #content ul {
    list-style: none;
    padding: 0 0 0 15px; }
    #content ul li {
      position: relative;
      z-index: 1001;
      margin: 5px 0; }
      #content ul li:after {
        position: absolute;
        z-index: 1002;
        background: url("../images/bullet.png") no-repeat center center;
        content: "";
        height: 7px;
        left: -15px;
        top: 7px;
        width: 10px; }
  #content p strong {
    font-family: 'Neris Semibold';
    font-weight: 600; }
  #content .section-title {
    text-align: center;
    height: 120px; }
    #content .section-title h2 {
      line-height: 120px;
      font-size: 30px;
      margin: 0 0 35px; }
  #content .aktualnosci .section-title h2, #content .kontakt .section-title h2 {
    background: url("../images/border-bg-left.png") no-repeat top left;
    text-align: left;
    padding-left: 30px; }
  #content .aktualnosci.right .section-title h2, #content .kontakt.right .section-title h2 {
    background: url("../images/border-bg-right.png") no-repeat top right;
    text-align: right;
    padding-right: 30px; }
  #content h2 {
    font-size: 17px; }
    #content h2.larger-title {
      font-size: 20px; }
  #content .wide-col {
    padding: 28px 0 0; }
  #content .aktualnosci {
    position: relative;
    z-index: 1001;
    float: left;
    padding: 15px 0 10px;
    margin-bottom: 95px; }
    #content .aktualnosci .author {
      text-align: right;
      margin-top: 25px; }
    #content .aktualnosci .item {
      float: left;
      position: relative; }
      #content .aktualnosci .item:nth-child(1n+2) {
        margin-top: 59px; }
        #content .aktualnosci .item:nth-child(1n+2):before {
          position: absolute;
          z-index: 1002;
          background: url("../images/silver-line.jpg") no-repeat top right;
          content: "";
          height: 7px;
          top: -37px;
          right: 0;
          width: 301px; }
    #content .aktualnosci .narrow-col {
      margin-right: 84px; }
    #content .aktualnosci:before {
      position: absolute;
      z-index: 1002;
      background: url("../images/after-line-right.jpg") no-repeat top right;
      content: "";
      height: 8px;
      top: 16px;
      right: 0;
      width: 301px; }
    #content .aktualnosci.right .narrow-col {
      margin-left: 84px;
      margin-right: 0px;
      float: right; }
    #content .aktualnosci.right:before {
      left: 0;
      background: url("../images/after-line-left.jpg") no-repeat top left; }
  #content .kontakt {
    position: relative;
    z-index: 1001;
    float: left;
    width: 100%; }
    #content .kontakt:before {
      position: absolute;
      z-index: 1002;
      background: url("../images/after-line-right.jpg") no-repeat top right;
      content: "";
      height: 8px;
      top: 0;
      right: 0;
      width: 301px; }
    #content .kontakt .narrow-col {
      margin-right: 90px; }
    #content .kontakt .wide-col {
      width: 67%; }
      #content .kontakt .wide-col .half-col:nth-child(2) {
        padding-top: 40px; }

img.ue-logos {
  display: block;
  margin: -45px auto 60px;
  margin-left: 17%; }

.news-item {
  display: flex;
  align-items: stretch;
  margin-bottom: 30px; }

ul.news-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 !important; }
  ul.news-gallery li {
    display: inline-block;
    margin-bottom: 15px;
    width: 48%; }
    ul.news-gallery li:after {
      display: none; }
    ul.news-gallery li a {
      background: #a2a2a2;
      border-radius: 5px;
      transition: background .3s;
      padding: 5px; }
    ul.news-gallery li img {
      display: block; }
    ul.news-gallery li:hover a {
      background: #02d2bc; }

/*# sourceMappingURL=default.css.map */
