/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-28, 12:54:45
    Author     : Tomasz Jacek
*/
@font-face {
    font-family: Neris Light;
    src: url("../fonts/Neris-Light.otf");
}

@font-face {
    font-family: Neris Semibold;
    src: url("../fonts/Neris-SemiBold.otf");
}
@mixin position($position, $index) {
    position: $position;
    z-index: $index;
}
body {
    font: {
        family: 'Neris Light', sans-serif;
    }
    margin: 0;
    padding: 0;
}
ul.unstyled {
    margin: 0;
    list-style: none;
    padding: 0;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-right {
    text-align: right;
}
ul {
    &.unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
}
.clearfix {
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.container {
    @include position(relative, 1001);
    margin: 0 auto;
    width: 1200px;
}

#header {
    line-height: 200px;
    height: 220px;
    .brand {
        padding-left: 35px;
        h1 {
            color: #000;
            float: left;
            margin: 60px 0 0 40px;
            font: {
                family: 'Neris Semibold';
                size: 26px;
            }
            line-height: normal;
            span {
                font: {
                    family: 'Neris Light';
                }
            }
        }
        a {
            display: block;
            text-decoration: none;
        }
        img {
            float: left;
            margin-top: 50px;
        }
    }
    .upper-nav {
        padding-right: 20px;
        ul {
            li {
                font: {
                    family: 'Neris Semibold', sans-serif;
                    size: 18px;
                    weight: 600;
                }
                margin-left: 30px;
                a {
                    color: #000;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}
#content {
    @include position(relative, 1003);
    font: {
        size: 13px;
    }
    margin-bottom: 115px;
    padding-top: 25px;
    position: relative;
    padding: 25px 0 60px;
    .grey-bg {
        @include position(absolute, 999);
        background-color: #f7f7f7;
        content: "";
        height: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        width: 800px;
    }
    .narrow-col, .wide-col {
        display: block;
        float: left;
        height: 100%;
    }
    .narrow-col {
        width: 300px;
    }
    .wide-col {
        width: 68%;
    }
    .half-col {
        padding: 0px;
        width: calc(53% - 61px);
        padding-left: 24px;
        float: left;
        
        &:nth-child(2n) {
            float: right;
        }
        img {
            width: 100%;
        }
    }
    a {
        color: #000;
        display: block;
        font: {
            family: 'Neris Semibold';
            size: 17px;
        }
        text-align: center;
    }
    a.file {
        color: black;
        position: relative;
        text-decoration: none;
        text-align: left;
        margin: 17px 0px;
        padding: 0px 50px;
        font-size: 13px;
        float: left;
        width: 70%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 39px; 
        
        &.right {
            margin: 3px 0;
            width: 140px;
            text-align: right;
            justify-content: flex-end;
            &:before {
                right: 0;
                left: auto;
            }
        }
        
        &:hover {
            text-decoration: underline;
        }
        &:before {
            content: "";
            position: absolute;
            width: 39px;
            height: 39px;
            top: 0;
            left: 0;
            background: url('../images/file.jpg') no-repeat;
        }
    }
    
    h3 {
        font: {
            size: 20px;
        }
        color: #007ffe;
        margin: 16px 0 20px;
        line-height: 1.2em;
    }
    h4 {
        font: {
            size: 17px;
        }
        margin: 16px 0 20px;
    }
    h5 {
        text-align: start;
        font-size: 18px;
        padding: 5px 47px;
        margin-bottom: 13px;
    }
    
    .cboxElement {
        float: left;
        border: 1px solid transparent;
        
        &:hover {
            border: 1px solid #007ffe;
        }
    }
    
    ul {
        list-style: none;
        padding: 0 0 0 15px;
        li {
            @include position(relative, 1001);
            margin: 5px 0;
            &:after {
                @include position(absolute, 1002);
                background: url("../images/bullet.png") no-repeat center center;
                content: "";
                height: 7px;
                left: -15px;
                top: 7px;
                width: 10px;
            }
        }
    }
    p {
        strong {
            font: {
                family: 'Neris Semibold';
                weight: 600;
            }
        }
    }
    .section-title {
        text-align: center;
        height: 120px;
        h2 {
            line-height: 120px;
            font: {
                size: 30px;
            }
            margin: 0 0 35px;
        }
    }
    .aktualnosci, .kontakt {
        .section-title {
            h2 {
                background: url("../images/border-bg-left.png") no-repeat top left;
                text-align: left;
                padding-left: 30px;
            }
        }
        &.right {
            .section-title {
                h2 {
                    background: url("../images/border-bg-right.png") no-repeat top right;
                    text-align: right;
                    padding-right: 30px;
                }
            }
        }
    }
    h2 {
        font: {
            size: 17px;
        }
        &.larger-title {
            font: {
                size: 20px;
            }
        }
    }

    .wide-col {
        padding: 28px 0 0;
    }
    .aktualnosci {
        @include position(relative, 1001);
        float: left;
        padding: 15px 0 10px;
        margin-bottom: 95px;
        
        .author {
            text-align: right;
            margin-top: 25px;
        }
        .item {
            float: left;
            position: relative;
            &:nth-child(1n+2) {
                margin-top: 59px;
                &:before {
                    @include position(absolute, 1002);
                    background: url("../images/silver-line.jpg") no-repeat top right;
                    content: "";
                    height: 7px;
                    top: -37px;
                    right: 0;
                    width: 301px;
                }
            }
        }
        .narrow-col {
            margin-right: 84px;
        }
        &:before {
            @include position(absolute, 1002);
            background: url("../images/after-line-right.jpg") no-repeat top right;
            content: "";
            height: 8px;
            top: 16px;
            right: 0;
            width: 301px;
        }
        
        &.right {
            .narrow-col {
                margin-left: 84px;
                margin-right: 0px;
                float: right;
            }
            &:before {
                left: 0;
                background: url("../images/after-line-left.jpg") no-repeat top left;
            }
        }
    }
    
    .kontakt {
        @include position(relative, 1001);
        float: left;
        width: 100%;        
        &:before {
            @include position(absolute, 1002);
            background: url("../images/after-line-right.jpg") no-repeat top right;
            content: "";
            height: 8px;
            top: 0;
            right: 0;
            width: 301px;
        }
        .narrow-col {
            margin-right: 90px;
        }
        .wide-col {
            width: 67%;
            .half-col {
                &:nth-child(2) {
                    padding-top: 40px;
                }
            }
        }
    }
}
img.ue-logos {
    display: block;
    margin: -45px auto 60px;
    margin-left: 17%;
}
.news-item {
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
}
ul.news-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 !important;
    li {
        display: inline-block;
        margin-bottom: 15px;
        width: 48%;
        &:after {
            display: none;  
        }
        a {
            background: #a2a2a2;
            border-radius: 5px;
            transition: background .3s;
            padding: 5px;
        }
        img {
            display: block;
        }
        &:hover {
            a {
                background: #02d2bc;
            }
        }
    }
}

